.landing{
  display: grid;
  grid-template-columns: 3fr minmax(0, 1fr);
  padding: 260px 30px 50px 30px;
  grid-gap: 50px;
}

.name{
  font-family: 'Patua One';
  font-size: 36px;
  margin-bottom: -10px;
}

.title{
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 50px;
}

.text{
  font-size: 21px;
  font-weight: 300;
}

.currentlyReadingTitle{
  font-family: 'Patua One';
  font-size: 21px;
  text-align: center;
  margin-bottom: 30px;
}

.contact{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 50px;
}

.contactSection{
  text-align: center;
}

.contactSectionTitle{
  font-size: 18px;
  font-family: 'Patua One';
  margin-bottom: 20px;
}

.iconsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:not(:last-child){
  margin-right: 20px;
}

.icon:hover{
  transform: scale(1.1);
}

.resume{
  font-family: 'Patua One';
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 40px;
  transition: 0.3s;
}

.resume:hover{
  box-shadow: 0 0 19px 0 rgba(0,0,0,0.15);
}

@media (max-width: 1030px) {
  .landing{
    display: block;
  }
  .currentlyReading{
    display: none;
  }
}

@media (max-width: 775px){
  .contact{
    grid-template-columns: repeat(2, 1fr);
  }

  .resumeContainer{
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    margin-top: 60px;
  }
}

@media (max-width: 500px){
  .landing{
    padding-top: 100px;
  }

  .name{
    font-size: 30px;
  }

  .title{
    font-size: 40px;
  }

  .text{
    font-size: 16px;
  }
}
